@page "/laboratories/{Id:guid}"
@attribute [Authorize]
@layout LaboratoryLayout

<p>This is the laboratory details page.</p>

@*<AuthorizedLaboratoryView Context="lab" LaboratoryId="@Id">

    <h3 style="display: flex; align-items: center; gap: 0.5rem;">
        <AvatarSquare Value="@lab.LaboratoryName[0]" />
        <span>@lab.LaboratoryName</span>
    </h3>

    <hr />

    <p>Current lab members:</p>
    <LabMemberships Context="Memberships" LaboratoryId="lab.LaboratoryId">
        @if (Memberships.GetAll() is not { } memberships)
        {
            <p>Loading...</p>
        }
        else
        {
            <ul>
                @foreach (var membership in memberships)
                {
                    <li>@membership.MemberDisplayName (@membership.MembershipType)</li>
                }
            </ul>
        }
    </LabMemberships>
</AuthorizedLaboratoryView>*@

@code {

    [Parameter] public required Guid Id { get; set; }
}